header{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}


main {
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}
#btn-submit{
    margin-left: 70%;
}
.form-group{
    margin-left: 10%;
}
.login-form{
    width: 50%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
input[type=text],input[type=password]{
    display: inline-block;
    box-sizing: border-box;
    margin: 8px 0;
}
input[type=text]:focus,input[type=password]:focus {
    background-color: lightblue;
}
.container {
    width: 780px;
    max-width: 1200px;
    margin: auto auto;
}
h1{
    text-align: center
}

footer{
    background-color: #cccccc;
    min-height: 100px;
    padding: 15px;
}