*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}


main {
    background-color: #dddddd;
    min-height: 650px;
    padding: 7.5px 15px;
    background-image: url("../img/laptop.jpg");
    background-repeat: no-repeat;
    background-size:100%;

}
#btn-submit{
    min-width: 350px;
    margin-left:5%;
    margin-top:5%;
    min-height: 30px;
}
.form-group,#sign-up{
    margin-left: 5%;
    color:white;
}
.sign-up-btn{
    margin-top:5%;
    margin-left:10%;
}
.line{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    border-top:1px solid gray;
}
a{
    list-style-type: none;
}
.login-form{
    width: 50%;
    max-width: 400px;
    margin: 20px auto;
    background-color: black;
    opacity: 0.75;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
input[type=text],input[type=password]{
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 0;
    min-width: 350px;
    min-height: 30px;
    border: 1px solid green;
    opacity: 0.5;
}
#err{
    display:none;
    color: red;
    margin-left:5%;
    padding-top: 5%;
    
}
input[type=text]:focus,input[type=password]:focus {
    background-color: lightblue;
}
.container {
    width: 780px;
    max-width: 1200px;
    margin: 80px auto;
}
h1{
    text-align: center;
    color:white;
    margin-bottom: 5%;
}

footer{
    background-color: #cccccc;
    min-height: 100px;
    padding: 15px;
}